@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400;700&display=swap');

body {
  font-family: 'Noto Serif SC', serif;
  background-color: #1A1A1A;
  color: #F5E6C8;
  margin: 0;
  padding: 0;
}
